body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0%;
  line-height: 1.5em;
}
#header {
  background-color: black;
  margin: 0%;
  width: 100%;
}
#header h1 {
  display: inline-block;
  vertical-align: top;
  color: white;
}
.container {
  margin: auto;
  overflow: hidden;
  width: 80%;
}
#navBar {
  float: right;
}
#navBar li {
  margin-top: 0%;
  display: inline;
  color: white;
  padding-left: 15px;
}
#navBar a {
  color: white;
  text-decoration: none;
}
#navBar a:hover {
  color: turquoise;
  text-decoration: underline;
}
#main {
  display: flex;
  justify-content: center;
  min-height: 500px;
  background-image: url("../images/food.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 700px;
  margin-bottom: 5%;
}

#main h1 {
  background-color: white;
  line-height: 1.2em;
  color: black;
  font-size: 3em;
  font-weight: 800;
  position: relative;
  text-align: center;
}
#mainSection {
  width: 65%;
  float: left;
}
#mainSection p {
  text-align: justify;
  text-justify: inter-word;
}
#aside {
  text-align: center;
  width: 30%;
  float: right;
  background-color: rgb(32, 32, 32);
  color: white;
  box-sizing: border-box;
  padding: 20px;
  min-height: 250;
}
#aside input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#aside input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  background-color: white;
  padding: 14px;
}
button:hover {
  background-color: turquoise;
  color: black;
}

footer {
  text-align: center;
  background-color: rgb(37, 37, 37);
  min-height: 100px;
}
footer p {
  padding-top: 30px;
  color: white;
}
#quote {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  min-height: 400px;
}
#quote #review {
  text-align: center;
}
#quote q {
  display: block;
  color: white;
  font-size: 2em;
  line-height: 50px;
}
#quote small {
  color: white;
  padding-top: 10px;
}
#followInstagram {
    text-align: center;
  min-height: 300px;
  margin-bottom: 2%;
  margin-top: 3%;
}
#followInstagram img{
  height: 150px;
  width: 150px;
  padding: 40px;
}
#followInstagram img:hover{
    height: 150px;
    width: 150px;
    opacity: 80%
  }
#followInstagram h1 {
    background-color: white;
    line-height: 1em;
    color: black;
    font-size: 2em;
    font-weight: 800;
    position: relative;
    text-align: center;
  }
@media (max-width: 600px) {
  #mainSection {
    width: 100%;
    float: none;
  }
  #aside {
    width: 100%;
    float: none;
  }
  #header {
    text-align: center;
  }
  #navBar {
    float: none;
  }
  #followInstagram img{
    height: 100px;
    width: 100px;
    padding: 5px;
  }
}
